.card {
  height: 246px;
  width: 172px;

  .card__img {
    width: 100%;
    height: 190px;
    display: block;
  }
  
  .card__text-container {
    height: 61px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #000000 50%, #EC1D24 50%);
    -webkit-transition: background-position 0.4s;
    -moz-transition: background-position 0.4s;
    transition: background-position 0.4s;
    color: #FFFFFF;
    border-top: solid 5px #EC1D24;
    box-sizing: border-box;
    padding: 16px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 13px solid white;
      border-top: 13px solid #000000;
      }

    .card__name {
      text-transform: uppercase;
      font-size: 14px;
    }

    .card__favorites--button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      .card__favorites--icon {
        width: 12px;
        height: 12px;
      }
    }

  }

  &:hover .card__text-container {
    background-position: 0 -100%;

    &::after {
      border-top: 13px solid #EC1D24;
      transition-delay: 0.3s;
    }
  }

  &:hover .fill {
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(342deg) brightness(105%) contrast(157%);
  }
}
