.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
	padding-top: 24px;

	@media (min-width: 834px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@media (min-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	@media (min-width: 1512px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.list__item {
		height: 246px;
		width: 172px;
	}
}
